In [27]:
# pip install --upgrade google-api-python-client
# pip install --upgrade google-auth-oauthlib google-auth-httplib2

api_key ='AIzaSyA_3DvwpZGL8vzNvuVdbpruzgtRRKgoWBo'
list_chanel_id = ['UCJQJAI7IjbLcpsjWdSzYz0Q',  #ThuvuData Analyst
             'UCnz-ZXXER4jOvuED5trXfEA', #techTFQ
            ]

api_service_name = 'youtube'
api_version ='v3'


from google.oauth2.credentials import Credentials
from googleapiclient.discovery import build
from google.auth.transport.requests import Request
from google_auth_oauthlib.flow import InstalledAppFlow
import json
import pandas as pd
import googleapiclient

In [28]:
youtube = build("youtube", "v3", developerKey=api_key)


# Use the service instance to make API requests
def get_chanel_statistic(youtube,list_chanel_id):
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id = ','.join(list_chanel_id)
        )
    response = request.execute()

    return response

data = get_chanel_statistic(youtube,list_chanel_id)
chanel_data = data['items']
# with open("chanel_statistic.json","w+") as file:
#     json.dump(chanel_data ,file, indent=4)
chanel_data

[{'kind': 'youtube#channel',
  'etag': 'x4GTSyQhwh4F7p5rCQVAUT5Bi8M',
  'id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'snippet': {'title': 'techTFQ',
   'description': 'Hi, I am Thoufiq! On this channel, I teach SQL, Python and Database concepts in the field of Data Analytics and Data Science in the most simplest manner possible. If this excites you then do consider subscribing.\n\nYou will also find videos covering interview questions and also videos where I provide career guidance in the field of Data Analytics and Data Science which should help you find your dream job.\n\nI aim to make techTFQ a go to YouTube channel for anyone learning SQL, Python and Databases in the field of Data Analytics and Data Science.\n\nThank you for begin here :)\n',
   'customUrl': '@techtfq',
   'publishedAt': '2020-06-13T05:20:37.182391Z',
   'thumbnails': {'default': {'url': 'https://yt3.ggpht.com/68QpkOCRQespfOQ5yZwhCrM6Ab0kipqOU16JwAAhDm9f8I0CfPzMW-qpzdYJmn0TQ-UBd862=s88-c-k-c0x00ffffff-no-rj',
     'width': 88,
     'height': 88},
    'medium': {'url': 'https://yt3.ggpht.com/68QpkOCRQespfOQ5yZwhCrM6Ab0kipqOU16JwAAhDm9f8I0CfPzMW-qpzdYJmn0TQ-UBd862=s240-c-k-c0x00ffffff-no-rj',
     'width': 240,
     'height': 240},
    'high': {'url': 'https://yt3.ggpht.com/68QpkOCRQespfOQ5yZwhCrM6Ab0kipqOU16JwAAhDm9f8I0CfPzMW-qpzdYJmn0TQ-UBd862=s800-c-k-c0x00ffffff-no-rj',
     'width': 800,
     'height': 800}},
   'localized': {'title': 'techTFQ',
    'description': 'Hi, I am Thoufiq! On this channel, I teach SQL, Python and Database concepts in the field of Data Analytics and Data Science in the most simplest manner possible. If this excites you then do consider subscribing.\n\nYou will also find videos covering interview questions and also videos where I provide career guidance in the field of Data Analytics and Data Science which should help you find your dream job.\n\nI aim to make techTFQ a go to YouTube channel for anyone learning SQL, Python and Databases in the field of Data Analytics and Data Science.\n\nThank you for begin here :)\n'},
   'country': 'MY'},
  'contentDetails': {'relatedPlaylists': {'likes': '',
    'uploads': 'UUnz-ZXXER4jOvuED5trXfEA'}},
  'statistics': {'viewCount': '8359939',
   'subscriberCount': '174000',
   'hiddenSubscriberCount': False,
   'videoCount': '85'}},
 {'kind': 'youtube#channel',
  'etag': 'JnEfGeEWfNqb1CryqH17TrxzlmQ',
  'id': 'UCJQJAI7IjbLcpsjWdSzYz0Q',
  'snippet': {'title': 'Thu Vu data analytics',
   'description': "Hi there! Thanks for checking out my channel. Me in 3 words: Economist turned data nerd. Me in more words: I'm a Data science consultant by profession in the past 5 years, based in the Netherlands. My background is in Economics and Computer Science. In my free time I love to read, code and draw. I'm passionate about being a data detective and being creative when explaining hard topics in data science and general tech. \n\nIf you’re looking for information on entering a Data analytics/ Data science career,  or want to advance on your R/ Python skills, or see the day in the life of a Data Scientist and get an insider look in this career path this is the channel for you.\n\nDisclaimers: \nAll opinions are of my own and not of my employers.\n\r\n",
   'customUrl': '@thuvu5',
   'publishedAt': '2021-04-30T15:22:58.33437Z',
   'thumbnails': {'default': {'url': 'https://yt3.ggpht.com/s3HLl-uzqEaqww2tkWKgjLFfgoe2NUsu4tRLm7g5TOScMK3aqOl1wGhar3yZRa1VH4BK3rzHyg=s88-c-k-c0x00ffffff-no-rj',
     'width': 88,
     'height': 88},
    'medium': {'url': 'https://yt3.ggpht.com/s3HLl-uzqEaqww2tkWKgjLFfgoe2NUsu4tRLm7g5TOScMK3aqOl1wGhar3yZRa1VH4BK3rzHyg=s240-c-k-c0x00ffffff-no-rj',
     'width': 240,
     'height': 240},
    'high': {'url': 'https://yt3.ggpht.com/s3HLl-uzqEaqww2tkWKgjLFfgoe2NUsu4tRLm7g5TOScMK3aqOl1wGhar3yZRa1VH4BK3rzHyg=s800-c-k-c0x00ffffff-no-rj',
     'width': 800,
     'height': 800}},
   'defaultLanguage': 'en',
   'localized': {'title': 'Thu Vu data analytics',
    'description': "Hi there! Thanks for checking out my channel. Me in 3 words: Economist turned data nerd. Me in more words: I'm a Data science consultant by profession in the past 5 years, based in the Netherlands. My background is in Economics and Computer Science. In my free time I love to read, code and draw. I'm passionate about being a data detective and being creative when explaining hard topics in data science and general tech. \n\nIf you’re looking for information on entering a Data analytics/ Data science career,  or want to advance on your R/ Python skills, or see the day in the life of a Data Scientist and get an insider look in this career path this is the channel for you.\n\nDisclaimers: \nAll opinions are of my own and not of my employers.\n\r\n"},
   'country': 'US'},
  'contentDetails': {'relatedPlaylists': {'likes': '',
    'uploads': 'UUJQJAI7IjbLcpsjWdSzYz0Q'}},
  'statistics': {'viewCount': '3332823',
   'subscriberCount': '123000',
   'hiddenSubscriberCount': False,
   'videoCount': '59'}}]

In [29]:
import pandas as pd
from pandas import json_normalize
# Làm phẳng data
df = pd.json_normalize(chanel_data)
df.to_csv('data.csv')
df.shape
#  2 records and 26 columns
# Transform 1: Relocation Dataframe to remove useless data
transformed_df1 = df.iloc[:, [2,3,4,5,6,13,18,20,21,22,24]]
transformed_df1.to_csv("transfomed_df1.csv")

In [30]:
# Nếu dùng ntn thì khi data có cột bị null thì cả function đưa vào sẽ báo k có gía trị đó, còn muốn cover hết các gía trị null thì phải dùng try except rất rườm rà.
# Vậy nên ta sẽ load vào Pandas dataframe trước sau đó cắt cột và đổi tên sau.
# for i in range(len(chanel_data)):
#     # print(chanel_data[i])
#     data = {
#         'chanelId' : chanel_data[i]['id'],
#         'chanelTitle': chanel_data[i]['snippet']['title'],
#         'chanelDescription' : chanel_data[i]['snippet']['description'],
#         'customUrl' : chanel_data[i]['snippet']['customUrl'] ,
#         'avatarUrl' : chanel_data[i]['snippet']['thumbnails']['high']['url'],
#         'publishedAt' : chanel_data[i]['snippet']['publishedAt'],
#         'defaultLanguage1' : chanel_data[i]['snippet']["defaultLanguage"],
#         'country' : chanel_data[i]['snippet']['country'],
#         'viewCount' :chanel_data[i]['statistics']['viewCount'],
#         'subscriberCount' : chanel_data[i]['statistics']['subscriberCount'],
#         'videoCount': chanel_data[i]['statistics']['videoCount']
#     }
# data

In [128]:
# Transform 2: Rename the columns 
#  Take all the name of col in df
transformed_df1.columns
# create a dictionary that maps old column names to new column names
new_names = {
'id': 'chanelId',
'snippet.title':'title',
'snippet.description':'description',
'snippet.customUrl':'customUrl',
'snippet.publishedAt':'publishedAt',
'snippet.thumbnails.high.url':'avatarUrl',
'snippet.country':'country',
'contentDetails.relatedPlaylists.uploads':'playlistId',
'statistics.viewCount':'viewCount',
'statistics.subscriberCount':'subscriberCount',
'statistics.videoCount':'videoCount'
}

# # rename columns using the dictionary with rename() method
transformed_df2 = transformed_df1.rename(columns=new_names)

transformed_df2.to_csv("transformed_df2.csv")

In [129]:

transformed_df2.dtypes

chanelId           object
title              object
description        object
customUrl          object
publishedAt        object
avatarUrl          object
country            object
playlistId         object
viewCount          object
subscriberCount    object
videoCount         object
dtype: object

In [130]:
# Tranform 3: Correct type of dataframe
datatype = {
'chanelId':object,
'title':object,
'description': object,
'customUrl':object,
'publishedAt':'datetime64[ns]' ,
'avatarUrl': object,
'country':object,
'playlistId': object,
'viewCount':int,
'subscriberCount':int,
'videoCount':int,
}

transformed_df3 = transformed_df2.astype(datatype)
transformed_df3.to_csv("transformed_df3.csv")

In [131]:
transformed_df3

,chanelId,title,description,customUrl,publishedAt,avatarUrl,country,playlistId,viewCount,subscriberCount,videoCount
0,UCnz-ZXXER4jOvuED5trXfEA,techTFQ,"Hi, I am Thoufiq! On this channel, I teach SQL...",@techtfq,2020-06-13 05:20:37.182391,https://yt3.ggpht.com/68QpkOCRQespfOQ5yZwhCrM6...,MY,UUnz-ZXXER4jOvuED5trXfEA,8359939,174000,85
1,UCJQJAI7IjbLcpsjWdSzYz0Q,Thu Vu data analytics,Hi there! Thanks for checking out my channel. ...,@thuvu5,2021-04-30 15:22:58.334370,https://yt3.ggpht.com/s3HLl-uzqEaqww2tkWKgjLFf...,US,UUJQJAI7IjbLcpsjWdSzYz0Q,3332823,123000,59

In [157]:
import googleapiclient
youtube = googleapiclient.discovery.build(api_service_name,api_version,developerKey = api_key)

# Vì 50 là maxResults return you can pass, so we want to get all the video id return so we do the follow steps
# Define a function to get a list of video IDs from a playlist ID
def get_video_ids(youtube,playlistId):
    
    # First request to get nextPageToken
    # Create an empty list to store the video IDs
    video_ids = []
    
    # Call the playlistItems.list API method to retrieve the first page of results

    request = youtube.playlistItems().list(
        part = 'contentDetails',
        playlistId = playlistId,
        maxResults = 50
         )
    response =request.execute()
    

    # Extract the video IDs from the response and append them to the list
    for item in response['items']:
        video_ids.append(item['contentDetails']['videoId'])
    
    # Check if there are more pages of results and continue retrieving them if so
    # Get next page token from the first request to request the net page
    # nextPageToken = response.get('nextPageToken')
    
    while 'nextPageToken' in response:
        request = youtube.playlistItems().list(
            part='contentDetails',
            playlistId=playlist_id,
            maxResults=50,
            pageToken=response['nextPageToken']
        )
        response = request.execute()
        for item in response['items']:
            video_ids.append(item['contentDetails']['videoId'])
    
    # Return the list of video IDs
    return video_ids

In [162]:
list_playlist_id

['UUnz-ZXXER4jOvuED5trXfEA', 'UUJQJAI7IjbLcpsjWdSzYz0Q']

In [163]:
# Call the get_video_ids function for each playlist ID and store the results in a DataFrame
list_playlist_id =['UUnz-ZXXER4jOvuED5trXfEA','UUJQJAI7IjbLcpsjWdSzYz0Q']
# Không thể request 1 lúc nhiều PlaylistID của nhiều Chanel vì khi request 1 lần nó đã trả lại nhiều kết quả rồi.
# Define a list of playlist IDs to retrieve video IDs from
video_ids = []
for playlist_id in list_playlist_id:
    ids = get_video_ids(youtube,playlist_id)
    # Sau khi xong thì append cả dict {} vào 1 list để tạo video_df
    video_ids.append({'playlistId':playlist_id,'videoId':[ids]})
    
video_df = pd.DataFrame(video_ids)
transformed_df4 = pd.merge(transformed_df3,video_df,on='playlistId', how ='outer')
transformed_df4

,chanelId,title,description,customUrl,publishedAt,avatarUrl,country,playlistId,viewCount,subscriberCount,videoCount,videoId
0,UCnz-ZXXER4jOvuED5trXfEA,techTFQ,"Hi, I am Thoufiq! On this channel, I teach SQL...",@techtfq,2020-06-13 05:20:37.182391,https://yt3.ggpht.com/68QpkOCRQespfOQ5yZwhCrM6...,MY,UUnz-ZXXER4jOvuED5trXfEA,8359939,174000,85,"[[rBPQ5fg_kiY, hvwltYazuQo, a-hFbr-4VQQ, pMNcP..."
1,UCJQJAI7IjbLcpsjWdSzYz0Q,Thu Vu data analytics,Hi there! Thanks for checking out my channel. ...,@thuvu5,2021-04-30 15:22:58.334370,https://yt3.ggpht.com/s3HLl-uzqEaqww2tkWKgjLFf...,US,UUJQJAI7IjbLcpsjWdSzYz0Q,3332823,123000,59,"[[K2wffRzTvBM, JPHS10dt_CY, hucuMCZBbIY, tpGaw..."

In [164]:
# Call Api to get video related data

def get_video_data(transformed_df4):
    video_ids = transformed_df4['videoId']

    return video_ids
    

get_video_data(transformed_df4)

0    [[rBPQ5fg_kiY, hvwltYazuQo, a-hFbr-4VQQ, pMNcP...
1    [[K2wffRzTvBM, JPHS10dt_CY, hucuMCZBbIY, tpGaw...
Name: videoId, dtype: object

In [161]:
transformed_df4

,chanelId,title,description,customUrl,publishedAt,avatarUrl,country,playlistId,viewCount,subscriberCount,videoCount,videoId
0,UCnz-ZXXER4jOvuED5trXfEA,techTFQ,"Hi, I am Thoufiq! On this channel, I teach SQL...",@techtfq,2020-06-13 05:20:37.182391,https://yt3.ggpht.com/68QpkOCRQespfOQ5yZwhCrM6...,MY,UUnz-ZXXER4jOvuED5trXfEA,8359939,174000,85,NaN
1,UCJQJAI7IjbLcpsjWdSzYz0Q,Thu Vu data analytics,Hi there! Thanks for checking out my channel. ...,@thuvu5,2021-04-30 15:22:58.334370,https://yt3.ggpht.com/s3HLl-uzqEaqww2tkWKgjLFf...,US,UUJQJAI7IjbLcpsjWdSzYz0Q,3332823,123000,59,"[K2wffRzTvBM, JPHS10dt_CY, hucuMCZBbIY, tpGawy..."

In [170]:
video_id = 'rBPQ5fg_kiY'
# Get all video properties using call video api
youtube = googleapiclient.discovery.build("youtube",'v3', developerKey = api_key)
request = youtube.videos().list(
    part = 'snippet,contentDetails,statistics',
    id = video_id
)
response = request.execute()

print(response)

{'kind': 'youtube#videoListResponse', 'etag': '1iCFQr9Ul_vFTIDAFZCaJPQc9JE', 'items': [{'kind': 'youtube#video', 'etag': 'jC2mk5fTuy7eJoqsSIugY1724Ao', 'id': 'rBPQ5fg_kiY', 'snippet': {'publishedAt': '2023-03-07T13:00:07Z', 'channelId': 'UCnz-ZXXER4jOvuED5trXfEA', 'title': 'Complete guide to Database Normalization in SQL', 'description': 'This is a complete guide for anyone to understand Database Normalization in SQL. I will not just explain the Normalization concepts but also show you step by step process of normalizing a de-normalized dataset taken from Kaggle by following the different levels of normalization (Normal forms).\n\nThe video is divided into 3 sections: \nIn the first section, I will explain the basic concepts of normalization and the different levels of normalization (different normal forms), and some key points you need to know to better understand normalization.\nIn the second section, I will explain all the above concepts in detail with proper examples. We shall use a de-normalized dataset taken from Kaggle for illustration purposes. We shall follow different normal forms to normalize the Kaggle dataset which should give a complete understanding of how to normalize any dataset.\nFinally, in the third and last section, I shall explain the different anomalies that exist in a de-normalized dataset such as insertion, updation, and deletion anomalies. We shall also see how a normalized database can overcome these anomalies.\n\nTimestamp:\n00:00 Intro\n00:46 1. What is Normalization\n03:12 Different levels of Normalization\n05:14 2. Step-by-Step Normalizing a dataset\n07:35 First Normal Form (1NF)\n12:44 Second Normal Form (2NF)\n25:59 Third Normal Form (3NF)\n32:42 3. Different Anomalies (Insertion, Updation, Deletion Anomalies)\n37:10 Deletion Anomalies\n39:08 Updation Anomalies\n\n\n🔴 My Recommended courses 👇\n✅ Learn complete SQL: https://learnsql.com/?ref=thoufiqmohammed\n\n✅ Practice SQL Queries: https://www.stratascratch.com/?via=techTFQ\n\n✅ Learn Python: https://codebasics.io/courses/python-for-beginner-and-intermediate-learners?refId=70170e4c-7511-4c83-b769-c5cc8339c731\n\n✅ Learn Power BI: https://codebasics.io/courses/power-bi-data-analysis-with-end-to-end-project?refId=4b1e1886-3252-4bf1-86f4-7d603dab692f\n\n\n🔴 WATCH MORE VIDEOS HERE 👇\n\n✅ SQL Tutorial - Basic concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO\n\n✅ SQL Tutorial - Intermediate concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FD9XspliRM_HZM_jK7tkii\n\n✅ SQL Tutorial - Advance concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7\n\n✅ Practice Solving Basic SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp\n\n✅ Practice Solving Intermediate SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV\n\n✅ Practice Solving Complex SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9Fahr7taauUx5RnTfuGyL--\n\n✅ Data Analytics Career guidance:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FDsr995DjwCy9XNaIukb8P\n\n✅ SQL Course, SQL Training Platform Recommendations:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n\n\n✅ Python Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW\n\n✅ Git and GitHub Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b\n\n✅ Data Analytics Projects:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch\n\nTHANK YOU,\nThoufiq', 'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/default.jpg', 'width': 120, 'height': 90}, 'medium': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/mqdefault.jpg', 'width': 320, 'height': 180}, 'high': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/hqdefault.jpg', 'width': 480, 'height': 360}, 'standard': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/sddefault.jpg', 'width': 640, 'height': 480}, 'maxres': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/maxresdefault.jpg', 'width': 1280, 'height': 720}}, 'channelTitle': 'techTFQ', 'tags': ['database normalization', 'database normalization 1nf 2nf 3nf', 'sql normalization', 'database normalization in sql', 'normalize database', 'normal forms', '1nf', '2nf', '3nf', 'sql', 'learn sql', 'sql turorial', 'normalization in sql', 'normalization tutorial', 'normalization in database', 'sql techtfq', 'techtfq', 'techtfq sql', 'insertion anomalies', 'deletion anomalies', 'updation anomalies', 'anomalies in dbms', 'dbms normalization', 'data redundancy', 'candidate key', 'partial dependancy', 'transitive dependancy'], 'categoryId': '27', 'liveBroadcastContent': 'none', 'defaultLanguage': 'en', 'localized': {'title': 'Complete guide to Database Normalization in SQL', 'description': 'This is a complete guide for anyone to understand Database Normalization in SQL. I will not just explain the Normalization concepts but also show you step by step process of normalizing a de-normalized dataset taken from Kaggle by following the different levels of normalization (Normal forms).\n\nThe video is divided into 3 sections: \nIn the first section, I will explain the basic concepts of normalization and the different levels of normalization (different normal forms), and some key points you need to know to better understand normalization.\nIn the second section, I will explain all the above concepts in detail with proper examples. We shall use a de-normalized dataset taken from Kaggle for illustration purposes. We shall follow different normal forms to normalize the Kaggle dataset which should give a complete understanding of how to normalize any dataset.\nFinally, in the third and last section, I shall explain the different anomalies that exist in a de-normalized dataset such as insertion, updation, and deletion anomalies. We shall also see how a normalized database can overcome these anomalies.\n\nTimestamp:\n00:00 Intro\n00:46 1. What is Normalization\n03:12 Different levels of Normalization\n05:14 2. Step-by-Step Normalizing a dataset\n07:35 First Normal Form (1NF)\n12:44 Second Normal Form (2NF)\n25:59 Third Normal Form (3NF)\n32:42 3. Different Anomalies (Insertion, Updation, Deletion Anomalies)\n37:10 Deletion Anomalies\n39:08 Updation Anomalies\n\n\n🔴 My Recommended courses 👇\n✅ Learn complete SQL: https://learnsql.com/?ref=thoufiqmohammed\n\n✅ Practice SQL Queries: https://www.stratascratch.com/?via=techTFQ\n\n✅ Learn Python: https://codebasics.io/courses/python-for-beginner-and-intermediate-learners?refId=70170e4c-7511-4c83-b769-c5cc8339c731\n\n✅ Learn Power BI: https://codebasics.io/courses/power-bi-data-analysis-with-end-to-end-project?refId=4b1e1886-3252-4bf1-86f4-7d603dab692f\n\n\n🔴 WATCH MORE VIDEOS HERE 👇\n\n✅ SQL Tutorial - Basic concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO\n\n✅ SQL Tutorial - Intermediate concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FD9XspliRM_HZM_jK7tkii\n\n✅ SQL Tutorial - Advance concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7\n\n✅ Practice Solving Basic SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp\n\n✅ Practice Solving Intermediate SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV\n\n✅ Practice Solving Complex SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9Fahr7taauUx5RnTfuGyL--\n\n✅ Data Analytics Career guidance:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FDsr995DjwCy9XNaIukb8P\n\n✅ SQL Course, SQL Training Platform Recommendations:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n\n\n✅ Python Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW\n\n✅ Git and GitHub Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b\n\n✅ Data Analytics Projects:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch\n\nTHANK YOU,\nThoufiq'}, 'defaultAudioLanguage': 'en'}, 'contentDetails': {'duration': 'PT40M51S', 'dimension': '2d', 'definition': 'hd', 'caption': 'false', 'licensedContent': True, 'contentRating': {}, 'projection': 'rectangular'}, 'statistics': {'viewCount': '6127', 'likeCount': '459', 'favoriteCount': '0', 'commentCount': '121'}}], 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [171]:
response

{'kind': 'youtube#videoListResponse',
 'etag': '1iCFQr9Ul_vFTIDAFZCaJPQc9JE',
 'items': [{'kind': 'youtube#video',
   'etag': 'jC2mk5fTuy7eJoqsSIugY1724Ao',
   'id': 'rBPQ5fg_kiY',
   'snippet': {'publishedAt': '2023-03-07T13:00:07Z',
    'channelId': 'UCnz-ZXXER4jOvuED5trXfEA',
    'title': 'Complete guide to Database Normalization in SQL',
    'description': 'This is a complete guide for anyone to understand Database Normalization in SQL. I will not just explain the Normalization concepts but also show you step by step process of normalizing a de-normalized dataset taken from Kaggle by following the different levels of normalization (Normal forms).\n\nThe video is divided into 3 sections: \nIn the first section, I will explain the basic concepts of normalization and the different levels of normalization (different normal forms), and some key points you need to know to better understand normalization.\nIn the second section, I will explain all the above concepts in detail with proper examples. We shall use a de-normalized dataset taken from Kaggle for illustration purposes. We shall follow different normal forms to normalize the Kaggle dataset which should give a complete understanding of how to normalize any dataset.\nFinally, in the third and last section, I shall explain the different anomalies that exist in a de-normalized dataset such as insertion, updation, and deletion anomalies. We shall also see how a normalized database can overcome these anomalies.\n\nTimestamp:\n00:00 Intro\n00:46 1. What is Normalization\n03:12 Different levels of Normalization\n05:14 2. Step-by-Step Normalizing a dataset\n07:35 First Normal Form (1NF)\n12:44 Second Normal Form (2NF)\n25:59 Third Normal Form (3NF)\n32:42 3. Different Anomalies (Insertion, Updation, Deletion Anomalies)\n37:10 Deletion Anomalies\n39:08 Updation Anomalies\n\n\n🔴 My Recommended courses 👇\n✅ Learn complete SQL: https://learnsql.com/?ref=thoufiqmohammed\n\n✅ Practice SQL Queries: https://www.stratascratch.com/?via=techTFQ\n\n✅ Learn Python: https://codebasics.io/courses/python-for-beginner-and-intermediate-learners?refId=70170e4c-7511-4c83-b769-c5cc8339c731\n\n✅ Learn Power BI: https://codebasics.io/courses/power-bi-data-analysis-with-end-to-end-project?refId=4b1e1886-3252-4bf1-86f4-7d603dab692f\n\n\n🔴 WATCH MORE VIDEOS HERE 👇\n\n✅ SQL Tutorial - Basic concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO\n\n✅ SQL Tutorial - Intermediate concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FD9XspliRM_HZM_jK7tkii\n\n✅ SQL Tutorial - Advance concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7\n\n✅ Practice Solving Basic SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp\n\n✅ Practice Solving Intermediate SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV\n\n✅ Practice Solving Complex SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9Fahr7taauUx5RnTfuGyL--\n\n✅ Data Analytics Career guidance:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FDsr995DjwCy9XNaIukb8P\n\n✅ SQL Course, SQL Training Platform Recommendations:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n\n\n✅ Python Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW\n\n✅ Git and GitHub Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b\n\n✅ Data Analytics Projects:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch\n\nTHANK YOU,\nThoufiq',
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/hqdefault.jpg',
      'width': 480,
      'height': 360},
     'standard': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/sddefault.jpg',
      'width': 640,
      'height': 480},
     'maxres': {'url': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/maxresdefault.jpg',
      'width': 1280,
      'height': 720}},
    'channelTitle': 'techTFQ',
    'tags': ['database normalization',
     'database normalization 1nf 2nf 3nf',
     'sql normalization',
     'database normalization in sql',
     'normalize database',
     'normal forms',
     '1nf',
     '2nf',
     '3nf',
     'sql',
     'learn sql',
     'sql turorial',
     'normalization in sql',
     'normalization tutorial',
     'normalization in database',
     'sql techtfq',
     'techtfq',
     'techtfq sql',
     'insertion anomalies',
     'deletion anomalies',
     'updation anomalies',
     'anomalies in dbms',
     'dbms normalization',
     'data redundancy',
     'candidate key',
     'partial dependancy',
     'transitive dependancy'],
    'categoryId': '27',
    'liveBroadcastContent': 'none',
    'defaultLanguage': 'en',
    'localized': {'title': 'Complete guide to Database Normalization in SQL',
     'description': 'This is a complete guide for anyone to understand Database Normalization in SQL. I will not just explain the Normalization concepts but also show you step by step process of normalizing a de-normalized dataset taken from Kaggle by following the different levels of normalization (Normal forms).\n\nThe video is divided into 3 sections: \nIn the first section, I will explain the basic concepts of normalization and the different levels of normalization (different normal forms), and some key points you need to know to better understand normalization.\nIn the second section, I will explain all the above concepts in detail with proper examples. We shall use a de-normalized dataset taken from Kaggle for illustration purposes. We shall follow different normal forms to normalize the Kaggle dataset which should give a complete understanding of how to normalize any dataset.\nFinally, in the third and last section, I shall explain the different anomalies that exist in a de-normalized dataset such as insertion, updation, and deletion anomalies. We shall also see how a normalized database can overcome these anomalies.\n\nTimestamp:\n00:00 Intro\n00:46 1. What is Normalization\n03:12 Different levels of Normalization\n05:14 2. Step-by-Step Normalizing a dataset\n07:35 First Normal Form (1NF)\n12:44 Second Normal Form (2NF)\n25:59 Third Normal Form (3NF)\n32:42 3. Different Anomalies (Insertion, Updation, Deletion Anomalies)\n37:10 Deletion Anomalies\n39:08 Updation Anomalies\n\n\n🔴 My Recommended courses 👇\n✅ Learn complete SQL: https://learnsql.com/?ref=thoufiqmohammed\n\n✅ Practice SQL Queries: https://www.stratascratch.com/?via=techTFQ\n\n✅ Learn Python: https://codebasics.io/courses/python-for-beginner-and-intermediate-learners?refId=70170e4c-7511-4c83-b769-c5cc8339c731\n\n✅ Learn Power BI: https://codebasics.io/courses/power-bi-data-analysis-with-end-to-end-project?refId=4b1e1886-3252-4bf1-86f4-7d603dab692f\n\n\n🔴 WATCH MORE VIDEOS HERE 👇\n\n✅ SQL Tutorial - Basic concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HQQ_COgGb7kf_1H8UWUBxO\n\n✅ SQL Tutorial - Intermediate concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FD9XspliRM_HZM_jK7tkii\n\n✅ SQL Tutorial - Advance concepts:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GbmgiW4TWVnxhjMFOIf0Q7\n\n✅ Practice Solving Basic SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9F66P3GFo5O6nJ4DfZNhVsp\n\n✅ Practice Solving Intermediate SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EIYmNXJ8ZtQ1bmLIpt0SpV\n\n✅ Practice Solving Complex SQL Queries:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9Fahr7taauUx5RnTfuGyL--\n\n✅ Data Analytics Career guidance:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FDsr995DjwCy9XNaIukb8P\n\n✅ SQL Course, SQL Training Platform Recommendations:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9GqF1Q_zn8KnYvFgtEOh-2n\n\n✅ Python Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9FePZXIo4jpsupqp3X0w2SW\n\n✅ Git and GitHub Tutorial:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9EI1MPlqqDpe3bgr8RJZE0b\n\n✅ Data Analytics Projects:\nhttps://www.youtube.com/playlist?list=PLavw5C92dz9HwT_uStsDdJbuBOt_XD0ch\n\nTHANK YOU,\nThoufiq'},
    'defaultAudioLanguage': 'en'},
   'contentDetails': {'duration': 'PT40M51S',
    'dimension': '2d',
    'definition': 'hd',
    'caption': 'false',
    'licensedContent': True,
    'contentRating': {},
    'projection': 'rectangular'},
   'statistics': {'viewCount': '6127',
    'likeCount': '459',
    'favoriteCount': '0',
    'commentCount': '121'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [174]:
video_detail_df =pd.json_normalize(response['items'])
video_detail_df

,kind,etag,id,snippet.publishedAt,snippet.channelId,snippet.title,snippet.description,snippet.thumbnails.default.url,snippet.thumbnails.default.width,snippet.thumbnails.default.height,...,contentDetails.duration,contentDetails.dimension,contentDetails.definition,contentDetails.caption,contentDetails.licensedContent,contentDetails.projection,statistics.viewCount,statistics.likeCount,statistics.favoriteCount,statistics.commentCount
0,youtube#video,jC2mk5fTuy7eJoqsSIugY1724Ao,rBPQ5fg_kiY,2023-03-07T13:00:07Z,UCnz-ZXXER4jOvuED5trXfEA,Complete guide to Database Normalization in SQL,This is a complete guide for anyone to underst...,https://i.ytimg.com/vi/rBPQ5fg_kiY/default.jpg,120,90,...,PT40M51S,2d,hd,false,True,rectangular,6127,459,0,121

In [ ]:
def